pkgbase = ulex
	pkgdesc = An OCaml lexer generator for Unicode
	pkgver = 1.2
	pkgrel = 1
	url = https://github.com/whitequark/ulex
	arch = x86_64
	license = MIT
	makedepends = ocaml-findlib
	makedepends = ocamlbuild
	depends = ocaml
	depends = camlp4
	provides = ulex
	conflicts = ulex
	source = https://github.com/whitequark/ulex/archive/v1.2.tar.gz
	sha512sums = bfa0c03aa5546330c970b7250cadcc87e944c793189e9785389058b19624af71a3e5540a3a4775946b2e8a59bb7fa28d2635e5fd05a47dbcbbf34dacb68e15de

pkgname = ulex

